{% load static %}

<footer>
    <div class="footer-section">
        <h3>ما را در شبکه‌های اجتماعی دنبال کنید.</h3>
         <div class="social-icons">
            <a href="#"><img src="{% static "img/icon/telegram-icon.png" %}" alt="تلگرام"></a>
            <a href="#"><img src="{% static "img/icon/instagram-icon.png" %}" alt="اینستاگرام"></a>
        </div>
    </div>
    <div class="footer-section">
        <h3>دسترسی سریع</h3>
        <p><a style="" href="#">مقالات</a></p>
        <p><a  style="" href="#">باشگاه</a></p>
    </div>
    <div class="footer-section">
        <p>تو باشگاه بعد تمرین وزنه هارو سر جاش میزاریم :)</p>
    </div>
</footer>