<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta>
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
        <div class="logo">
            <h1>کلبه سلامت</h1>
            <p style="color: black">تغییر شیوه زندگی</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">برنامه‌ها</a>
                    <ul class="dropdown">
                        <li><a href="chest.html">سینه</a></li>
                        <li><a href="leg.html">پا</a></li>
                        <li><a href="Armpit.html">زیر بغل</a></li>
                        <li><a href="shoulder.html">سرشانه</a></li>
                        <li><a href="Arm.html">بازو</a></li>
                        <li><a href="belly.html">شکم</a></li>
                    </ul>
                </li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="form.html">مربی</a></li>
				<li><a href="register.html">ثبت نام</a></li>
				<li><a href="login.html">ورود</a></li>
            </ul>
            <div class="search-icon">
				<table>
                <tr><a href="#"><img src="search-icon.png" alt="جستجو"></a></tr>
				<tr><input style="text"></tr>	
					
					</table>
            </div>
        </nav>
    </header>
    <div id="header"></div>

    <main>
        <section class="workout-section">
            <h2>برنامه تمرینی زیربغل</h2>
			<img src="Armpit.jpg" alt="chest-photo">
           <p>چرا باید حرکات زیربغل را جدی بگیریم؟ عضله زیر بغل، یک عضله سطحی است، به این معنی که به وضوح قابل مشاهده است. با کمک همین عضله، بسیاری از کارهای روزمره و ورزش‌ها را انجام می‌دهیم؛ حتا تنفس ما هم به عضلات زیر بغل‌مان بستگی دارد.

            بنابراین سلامت و تقویت آن‌ها مهم است و مستقیم روی کیفیت زندگی ما تاثیر خواهد گذاشت. در این مطلب از فیتامین بهترین حرکات زیر بغل را معرفی می‌کنیم و همچنین به طور مفصل درباره اهمیت و نکات انجام آن‌ها نیز خواهیم گفت.
            
            معرفی عضله زیر بغل
            عضله لاتیسیموس خلفی یا همان زیربغل یک عضله پهن و صاف است که قسمت اعظم قفسه سینه خلفی تحتانی را پوشش می‌دهد. عملکرد اصلی این عضله در اندام فوقانی است، اما به عنوان یک عضله جانبی تنفسی نیز شناخته می‌شود. همراه با عضلات کتف، ذوزنقه و عضلات لوزی، لتیسیموس دورسی (یا همان زیربغل) متعلق به لایه سطحی عضلات بیرونی پشت است.
            
            از نظر عملکردی، عضله زیربغل متعلق به عضلات کتف است. این عضله قادر است زاویه تحتانی کتف را در جهات مختلف بکشد و حرکاتی را روی مفصل شانه ایجاد کند (چرخش داخلی، اداکشن و اکستنشن بازو).
            
            عضله زیربغل از زیربغل تا اواسط کمر امتداد دارد و یک عضله بزرگ و مثلثی شکل است که به شما کمک می‌کند تا کارهایی مانند کشش، شنا و حتی تنفس را انجام دهید. این عضله در حالیکه شانه‌های شما را باز می‌کند، کمر شما را نیز ثابت نگه می‌دارد. عضله زیربغل توسط عصب بلند کتف، که به عنوان عصب سینه‌ای نیز شناخته می‌شود، عصب‌دهی می‌شود.
            مزایای انجام تمرینات زیربغل
            عضله‌های زیربغل شما تقریباً در همه فعالیت‌های روزمره‌تان درگیر هستند، بنابراین باید به اندازه کافی قوی باشند تا بتوانید تمام آن کارها را به راحتی انجام دهید. حرکات زیربغل باعث افزایش حجم عضلانیِ قسمت بالایی بدن شما می‌شود که بسیار در زیبایی اندام‌تان تاثیرگذار است. درست مثل عضلات سینه‌ای، پشت شما نیز از ماهیچه‌های بزرگی (از جمله عضله زیربغل) تشکیل شده که این ماهیچه‌ها می‌توانند وزن زیادی را تحمل کنند و در نتیجه به شما کمک می‌کنند تا کالری بیشتری بسوزانید.
            
            تقویت این عضله برای کاهش درد و آسیب به کمر ضروری است. هنگامی که عضلات کمر خسته می‌شوند، وضعیت نامناسب و فرم نامناسب می‌تواند منجر به آسیب شود. برای جلوگیری از این امر، افزایش استقامت و قدرت عضلات پشت به خصوص زیربغل حیاتی است.
            
            این نکته را هم باید به شما بگوییم؛ در صورتی از مزایای تمرینات بدنسازی زیر بغل بهره‌مند خواهید شد که یک برنامه تخصصی و متناسب با شرایط‌تان داشته باشید. در این رابطه می‌توانید با مربیان فیتامین مشورت کنید!</p>
            
            <table>
                <thead>
                    <tr>
                        <th>نوع حرکت</th>
                        <th>تعداد ست</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>زیر بغل سیم کش</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>زیربغل قایقی</td>
                        <td>3 ست، 10 تکرار</td>
                    </tr>
                    <tr>
                        <td>زیر بغل تک خم</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                    <tr>
                        <td>فیله دستگاه</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>زیر بغل هالتر خم</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="video-container">
                <h3>ویدیو آموزشی</h3>
				<style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/nLPir/vt/frame"  allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script src="scripts/loadComponents.js"></script>

<footer>
        <div class="footer-section">
            <h3>ما را در شبکه‌های اجتماعی دنبال کنید.</h3>
			 <div class="social-icons">
                <a href="#"><img src="telegram-icon.png" alt="تلگرام"></a>
                <a href="#"><img src="instagram-icon.png" alt="اینستاگرام"></a>
            </div>
        </div>
        <div class="footer-section">
            <h3>دسترسی سریع</h3>
            <p><a href="#">مقالات</a></p>
            <p><a href="#">باشگاه</a></p>
        </div>
        <div class="footer-section">
            <p>تو باشگاه بعد تمرین وزنه هارو سر جاش میزاریم :)</p>
        </div>
    </footer>
</body>
</html>
