<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta>
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
        <div class="logo">
            <h1>کلبه سلامت</h1>
            <p style="color: black">تغییر شیوه زندگی</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">برنامه‌ها</a>
                    <ul class="dropdown">
                        <li><a href="chest.html">سینه</a></li>
                        <li><a href="leg.html">پا</a></li>
                        <li><a href="Armpit.html">زیر بغل</a></li>
                        <li><a href="shoulder.html">سرشانه</a></li>
                        <li><a href="Arm.html">بازو</a></li>
                        <li><a href="belly.html">شکم</a></li>
                    </ul>
                </li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="form.html">مربی</a></li>
				<li><a href="register.html">ثبت نام</a></li>
				<li><a href="login.html">ورود</a></li>
            </ul>
            <div class="search-icon">
				<table>
                <tr><a href="#"><img src="search-icon.png" alt="جستجو"></a></tr>
				<tr><input style="text"></tr>	
					
					</table>
            </div>
        </nav>
    </header>
    <div id="header"></div>

    <main>
        <section class="workout-section">
            <h2>برنامه تمرینی شکم</h2>
			<img src="belly.jpg" alt="chest-photo">
           <p>این روزها در صنعت فیتنس همه به دنبال سیکس پک و شکم شش تکه هستند، اما می‌دانید دقیقا سیکس پک چیست و چطور می‌شود خیلی سریع و اصولی به این آرزوی جذاب رسید.

            همیشه شکم تخت مد بوده. هرچه می‌گذرد هم بین بدنسازان و حتی کسانی‌که با ورزش میانه‌ای ندارند، محبوب‌تر می‌شود. در این مطلب جامع همه چیز را درباره تمرین و تغذیه برای داشتنِ شکم تخت، عضلانی و در نهایت شش تکه شدن شکم در خانه و فضای دلخواهتان می‌گوییم.
            
            سیکس پک شکم چیست؟
            فارسیِ این واژه می‌شود شکم شش تکه یعنی نهایت تناسب اندام و فیت بودن! وقتی از معیارهای فیت‌بودن حرف می‌زنیم حتما باید به شکم‌های عضلانی نمایان شده هم اشاره کنیم.
            
            عضلات راست شکمی گروهی از عضلات دوتایی (جفتی) هستند که به‌صورت عمودی در هر طرف دیواره قدامی شکم انسان وجود دارند. وقتی این عضلات به قدر کافی پرورش یافته باشند برجسته می‌شوند و وقتی زیر پوست بدن انسان چربی اضافه‌ای نباشد شکم‌ شش تکه هم نمایان می‌شود.
            
            به زبان ساده‌تر، همه ما عضلات سیکس پک را داریم (همان‌طورکه همه عضلات جلوبازو یا سرشانه را داریم)؛ اما این عضلات ضعیف و پرورش نیافته هستند.
            
            چگونه سیکس پک برجسته داشته باشیم؟
            داشتن شکم شش تکه و تخت، یک رویا نیست و حتما به‌دست می‌آید. هرچند که ساده نیست! با آن که حالا هر طرف سر بچرخانید مقاله یا یک ویدیو درباره «ساخت شکم شش تکه در یک هفته یا یک ماه» را می‌بینید. ما به شما حقیقت را می‌گوییم. هیچ راه معجزه واری وجود ندارد که یک شبه بتوانید شش تکه شدن شکمتان را به چشم ببینید!
            
            ورزش منظم و رژیم غذایی سالم و اصولی تنها راهی هست که می‌تواند شما را در مسیر ساخت شکم سیکس پک قرار دهد. بنابراین فریب تبلیغات و روش‌های غیراصولی را نخورید. شما باید برای ساخت سیکس پک، یک برنامه تمرینی مشخص برای شکم داشته باشید. لازم است که برنامه ورزشی‌تان، شاملِ انواع تمرینات ورزش بدنسازی شود و عضلات مختلف راست شکمی، مورب شکمی و زیر شکم را هدف قرار دهد.
            
            همچنین عضلات شکم شما هم مانند دیگر عضلات به پروتئین احتیاج دارند. برای دیدن نتیجه عضلات ساخته شده شکم شاید لازم باشد چربی بسوزنید. بنابراین حتما به یک رژیم غذایی ورزشی اختصاصی احتیاج دارید.</p>
            
            <table>
                <thead>
                    <tr>
                        <th>نوع حرکت</th>
                        <th>تعداد ست</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>زیر شکم قیچی</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>پلانک پهلو</td>
                        <td>3 ست، 10 تکرار</td>
                    </tr>
                    <tr>
                        <td>پلانک تک پا</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                    <tr>
                        <td>کرانچ دوچرخه</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>شکم روی میز تخت</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="video-container">
                <h3>ویدیو آموزشی</h3>
				<style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/iV4g3/vt/frame"  allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script src="scripts/loadComponents.js"></script>

<footer>
        <div class="footer-section">
            <h3>ما را در شبکه‌های اجتماعی دنبال کنید.</h3>
			 <div class="social-icons">
                <a href="#"><img src="telegram-icon.png" alt="تلگرام"></a>
                <a href="#"><img src="instagram-icon.png" alt="اینستاگرام"></a>
            </div>
        </div>
        <div class="footer-section">
            <h3>دسترسی سریع</h3>
            <p><a href="#">مقالات</a></p>
            <p><a href="#">باشگاه</a></p>
        </div>
        <div class="footer-section">
            <p>تو باشگاه بعد تمرین وزنه هارو سر جاش میزاریم :)</p>
        </div>
    </footer>
</body>
</html>
