<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta>
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
        <div class="logo">
            <h1>کلبه سلامت</h1>
            <p style="color: black">تغییر شیوه زندگی</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">برنامه‌ها</a>
                    <ul class="dropdown">
                        <li><a href="chest.html">سینه</a></li>
                        <li><a href="leg.html">پا</a></li>
                        <li><a href="Armpit.html">زیر بغل</a></li>
                        <li><a href="shoulder.html">سرشانه</a></li>
                        <li><a href="Arm.html">بازو</a></li>
                        <li><a href="belly.html">شکم</a></li>
                    </ul>
                </li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="form.html">مربی</a></li>
				<li><a href="register.html">ثبت نام</a></li>
				<li><a href="login.html">ورود</a></li>
            </ul>
            <div class="search-icon">
				<table>
                <tr><a href="#"><img src="search-icon.png" alt="جستجو"></a></tr>
				<tr><input style="text"></tr>	
					
					</table>
            </div>
        </nav>
    </header>
    <div id="header"></div>

    <main>
        <section class="workout-section">
            <h2>برنامه تمرینی پا</h2>
			<img src="leg.jpg" alt="chest-photo">
            <p>تمرین پا می‌زنید؟ یا از آن دسته بدنسازانی هستید که فقط بازو، سرشانه و سینه می‌زنند؟ اگر واقعاً می‌خواهید اندام زیبا و جذابی بسازید، باید حتما و حتما تمرین پا را هم در برنامه‌تان قرار دهید. وقت آن رسیده که مثل حرفه‌‌ای‌ها تمرین کنید و روز خاصی را به تمرین روی عضلات پا اختصاص دهید. به پاهای‌تان فرم بدهید و پایین‌تنه‌تان را به کلی پیکر تراشی کنید.

                برنامه تمرینی پا را دقیقا چرا و چگونه باید انجام دهیم؟ برای روز تمرین پا تمرینات ورزشی زیادی بلد نیستید و نمی‌دانید چه حرکاتی را باید در چند ست انجام دهید؟ نگران نباشید! فیتامین همه چیز را به شما می‌گوید.
                
                برنامه تمرینی که در ادامه آموزش خواهیم داد، مختص روز پا بوده و عضلات پاهای شما را به‌خوبی درگیر خواهد کرد. این سبک تمرین معمولاً برای سلبریتی‌ها و هنرمندان استفاده می‌شود تا در کمترین زمان، بیشترین نتیجه را بگیرند. شما هم می‌توانید با اختصاص ۲۰ دقیقه زمان در هفته، بدون هیچ وسیله‌ای سرعت، چابکی و قدرت عضلات پاهای‌تان را افزایش بدهید و حسابی روی فرم بیایید.
                
                leg day چیست؟
                اصطلاح تمرین روز پا برای ورزشکاران و بدنسازان تازه‌کار ناآشناست، اما بدنسازان حرفه‌ای کاملاً با این واژه آشنایی دارند و دردهای این روز خاص را می‌شناسند. روزی که آن‌قدر روی پایین‌تنه‌تان کار می‌کنید تا گریه‌تان بگیرد؛ حتی یک جمله بامزه بین بدنسازها رواج دارد که می‌گویند «تمرینات روز پا را شیطان شخصاً داخل جهنم می‌نویسد».
                
                در جلسه تمرین پا، قاعدتا تمرکز بر روی عضلات پا و تقویت آن‌ها است. تمرین پا به گونه‌ای چیده می‌شود که تمام قسمت‌های پا را درگیر و تقویت کند. انجام تمرین پا باعث افزایش کلی قدرت بدنی، زیبایی اندام و افزایش تعادل در ساختار بدنی شما خواهد شد.</p>
            
            <table>
                <thead>
                    <tr>
                        <th>نوع حرکت</th>
                        <th>تعداد ست</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>اسکات</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>جلو ران دستگاه</td>
                        <td>3 ست، 10 تکرار</td>
                    </tr>
                    <tr>
                        <td>پرس پا</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                    <tr>
                        <td>ساق ایستاده</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>پشت ران دستگاه</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="video-container">
                <h3>ویدیو آموزشی</h3>
				<style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/AicPl/vt/frame"  allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script src="scripts/loadComponents.js"></script>

<footer>
        <div class="footer-section">
            <h3>ما را در شبکه‌های اجتماعی دنبال کنید.</h3>
			 <div class="social-icons">
                <a href="#"><img src="telegram-icon.png" alt="تلگرام"></a>
                <a href="#"><img src="instagram-icon.png" alt="اینستاگرام"></a>
            </div>
        </div>
        <div class="footer-section">
            <h3>دسترسی سریع</h3>
            <p><a href="#">مقالات</a></p>
            <p><a href="#">باشگاه</a></p>
        </div>
        <div class="footer-section">
            <p>تو باشگاه بعد تمرین وزنه هارو سر جاش میزاریم :)</p>
        </div>
    </footer>
</body>
</html>
