{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ program.name }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="container text-senter margin">
        <h1>{{ program.name }}</h1>
        <div class="program-detail">
            {% if program.image %}
                <img src="{{ program.image.url }}" alt="{{ program.name }}">
            {% else %}
                <img src="{% static 'img/pict/workout1.jpg' %}" alt="Default Image">
            {% endif %}
            <p>{{ program.desc }}</p>
            <p><strong>دسته بندی :</strong> {{ program.category }}</p>
            <p><strong>قیمت:</strong> تومان {{ program.price }}</p>
            
            <h2> حرکات ورزشی</h2>
            {% for exercise in program.exercises.all %}
                <span>{{ exercise.exercise_name }} :  {{ exercise.number_of_sets }} ست -  {{ exercise.repetitions_per_set }} تکرار  </span>
            {% endfor %}
        
        </div>
    </div>

    {% include "footer.html" %}
</body>
</html>