<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta>
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
        <div class="logo">
            <h1>کلبه سلامت</h1>
            <p style="color: black">تغییر شیوه زندگی</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">برنامه‌ها</a>
                    <ul class="dropdown">
                        <li><a href="chest.html">سینه</a></li>
                        <li><a href="leg.html">پا</a></li>
                        <li><a href="Armpit.html">زیر بغل</a></li>
                        <li><a href="shoulder.html">سرشانه</a></li>
                        <li><a href="Arm.html">بازو</a></li>
                        <li><a href="belly.html">شکم</a></li>
                    </ul>
                </li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="form.html">مربی</a></li>
				<li><a href="register.html">ثبت نام</a></li>
				<li><a href="login.html">ورود</a></li>
            </ul>
            <div class="search-icon">
				<table>
                <tr><a href="#"><img src="search-icon.png" alt="جستجو"></a></tr>
				<tr><input style="text"></tr>	
					
					</table>
            </div>
        </nav>
    </header>
    <div id="header"></div>

    <main>
        <section class="workout-section">
            <h2>برنامه تمرینی سرشانه</h2>
			<img src="shoulder.png" alt="chest-photo">
           <p>ک برنامه سرشانه حجمی چه تمریناتی دارد؟ اکثر آقایان برایشاان خیلی مهم است که بتوانند با یک برنامه سرشانه حرفه‌ای شانه‌های پهن و خوش‌فرم داشته باشند.

            یکی از مهم‌ترین عوامل زیبایی و خوش استایلی به‌خصوص در آقایون، سرشانه حجمی و داشتن عضلات قوی و خوش‌فرم است. کت‌های جذاب هاکوپیان را بپوشید یا جورجیو آرمانی، بازهم هیچ‌ فرقی به حال سرشانه‌های شما ندارد. متأسفانه باریکیِ شانه‌ها زیر گران‌قیمت‌ترین لباس‌ها هم کاملا پیداست.
            
            خیلی از افراد باهدف دستیابی به شانه‌هایی پهن و زیبا، بدنسازی و برنامه سرشانه حجمی را شروع می‌کنند. اگر شما هم به دنبال عضلات سرشانه‌ی قوی و خوش فرم هستید و فکر می‌کنید که استخوان‌بندی شما مانع هدفتان است؛ پیشنهاد می‌کنم که با ما همراه شوید تا از راز و رمز‌های داشتنِ سرشانه‌هایی پهن آگاه شوید. ضمنا حواستان هم باید به این عضلات باشد چرا که به شدت آسیب‌پذیرند و نیاز به مراقبت دارند.
            
            آشنایی بیشتر با عضله سرشانه
            برای داشتنِ عضله سرشانه حجمی لازم است که ابتدا با آناتومی این عضلات آشنا شوید. علاوه‌‌بر جذابیت ظاهری، عضلات بالاتنه برای انجام کارهای روزمره هم به کمکتان می‌آیند. اگر این عضلات قوی نباشد، خیلی زود تحت فشار و خستگی و حتی آسیب قرار می‌گیرد. اما تمرینات سرشانه را چطور باید انجام داد؟
            
            هر فرد بدنسازی، برنامه سرشانه حجمی خاصی برای سرشانه دارد. برای هر شخصی تعداد تکرارها، سنگینی وزنه و حتی استراحت بین تمرین‌ها متفاوت است؛ اما هدف همه یکی‌ست: می‌خواهند شانه‌های پهن و خوش‌فرم‌تری داشته باشند.
            
            برای فرم‌دهی به عضلات سرشانه هر بدنسازی هدف و برنامه مشخص و در عین حال متفاوتی دارد. در ادامه این مطلب از فیتامین برنامه سرشانه حجمی بدنسازی اختصاصی را باتوجه به اهداف مختلف بدنسازان، در اختیارتان قرار می‌دهیم. فقط کافی‌ست در این جدول‌ها به دنبال هدفتان بگردید!
            ضلات سرشانه کدامند؟
            برای رسیدن به هدفتان یعنی سرشانه حجمی و قوی بهتر است که ابتدا با آناتومی این عضلات آشنا شوید. شاید برای‌تان جالب باشد که بدانید مفصل سرشانه دارای گسترده‌ترین دامنه حرکتی بین کل مفصل‌های بدن است.
            
            این عضلات سرشانه هستند که از این مفصلِ پرکاربرد محافظت کرده و ثبات آن را حفظ می‌کنند. در واقع مفصل شانه یک مفصل ناپایدار و متحرک است که پایداری آن به عضلات سرشانه متکی است.
            
            اصلی‌ترین عضله مفصل سرشانه، عضله دلتوئید است. این عضله شامل سه عضله کوچک‌تر به نام دلتوئید قدامی، دلتوئید میانی و دلتوئید خلفی است. این عضلات همگی به حرکات بازو کمک می‌کنند و نقش زیادی در حرکت و ثبات کلی مفصل شانه و بالای بازو ایفا می‌کنند. کل عضله دلتوئید از ستون فقرات کتف تا قسمت جانبی ترقوه گسترش می‌یابد.
            
            این عضلات که به نام دلتوئیدی هم شناخته می‌شوند از چندین عضله دیگر تشکیل شده و محیط گرد شانه را تشکیل می‌دهد. یعنی دقیقا این قسمت که در تصویر مشخص شده است.
            
            وظایف هریک از عضلات سرشانه چیست؟
            هر دلتوئید در نقاط  متفاوتی از عضله شروع می‌شود. این تفاوت، امکان کنترل بیشتر و دامنه کامل حرکت در مفصل شانه را فراهم می‌آورد.
            
            دلتوئید قدامی با کشیدن بازو به داخل مفصل شانه را به صورت داخلی می‌چرخاند یا خم می‌کند. این خم شدن و چرخشِ داخلی باعث می‌شود بازو به جلو حرکت کند. این عمل را می‌توان در انواع وظایف کاربردی مشاهده کرد و کاملاً لازمه‌ی حرکت اندام فوقانی بدن است.
            
            دلتوئید جانبی مفصل شانه را به صورت جانبی می‌چرخاند و بازو را به سمت خارج حرکت می‌دهد، که به آن ابداکشن گفته می‌شود. این امر هنگام راه رفتن و انجام بسیاری از کارهای دیگر در یک سطح جانبی مهم است.
            
            دلتوئید خلفی مفصل، شانه را به‌صورت بیرونی می‌چرخاند که بازو را به عقب و خارج حرکت می‌دهد. این حرکت اغلب هنگام لباس پوشیدن، به عقب یا جلو پرتاب توپ مشاهده می‌شود.
            
            چرا باید عضلات سرشانه را تقویت کرد؟
            دو نفر از هر سه نفر، در مقطعی از زندگی خود دچار آسیب یا درد شانه می‌شود. این موضوع نشان می‌دهد چقدر تقویت این عضله و مراقبت از آن مهم است. اما چرا اینطور است؟
            
            همانطور که توضیح دادیم این عضله شامل دلتوئید قدامی، میانی و خلفی است. هنگامی که نوبت تمرین برای رسیدن به سرشانه حجمی می‌شود، معمولا همه به دلتوئید قدامی توجه می‌کنند و از تقویت دلتوئید خلفی و میانی غافل می‌شوند. در حالی که تقویت تک تک این عضلات برای حفظ ثبات و پیشگیری از مصدومیت مهم است.
            
            از طرفی هر زمان که تمرین عضلات پشت و سینه‌ای را انجام می‌دهید، عضلات سرشانه شما مقدار قابل توجهی کار می‌کند و درگیر می‌شود؛ اما به‌طور موثر تمرین داده نمی‌شود و در معرض خطر است. بنابراین بسیار مهم است این عضلات را به‌خوبی تقویت کنید.
            
            تأثیر تقویت عضلات سرشانه در زندگی روزمره
            تقویت و رسیدگی به این عضلات فقط مختص ورزشکاران حرفه‌ای نیست. تقریبا ما برای هر تحرکی از این عضلات استفاده می‌کنیم. داشتن سرشانه حجمی و قوی در انجام کارهای روزمره و همچنین احساس‌مان به خود مؤثر است.
            
            کمک به انجام کارهای روزانه: قوی‌شدن عضلات، تحرک بازو را برایتان آسان می‌کند، چه بخواهید هندبال بازی کنید، یک چمدان را از روی زمین بلند کنید یا تمرینات جلوبازو و پشت بازو بزنید، به هر حال باید سرشانه قوی داشته باشید.
            تقریباً هر حرکتی که شما انجام می‌دهید، تا حدی عضلات سرشانه را هم درگیر می‌کند. بنابراین تقویت این عضلات باعث می‌شود بتوانید وزنه‌های سنگین‌تری را برای تمرینات مختلف بزنید. همچنین در زندگی راحت‌تر و آسوده‌تر باشید.</p>
            
            <table>
                <thead>
                    <tr>
                        <th>نوع حرکت</th>
                        <th>تعداد ست</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>صلیب دمبل</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>سیم کش تک دست</td>
                        <td>3 ست، 10 تکرار</td>
                    </tr>
                    <tr>
                        <td>نشر از جلو دمبل</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                    <tr>
                        <td>فلای برعکس</td>
                        <td>3 ست، 12 تکرار</td>
                    </tr>
                    <tr>
                        <td>شراگ دمبل</td>
                        <td>3 ست، 15 تکرار</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="video-container">
                <h3>ویدیو آموزشی</h3>
				<style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/R4tXB/vt/frame"  allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script src="scripts/loadComponents.js"></script>

<footer>
        <div class="footer-section">
            <h3>ما را در شبکه‌های اجتماعی دنبال کنید.</h3>
			 <div class="social-icons">
                <a href="#"><img src="telegram-icon.png" alt="تلگرام"></a>
                <a href="#"><img src="instagram-icon.png" alt="اینستاگرام"></a>
            </div>
        </div>
        <div class="footer-section">
            <h3>دسترسی سریع</h3>
            <p><a href="#">مقالات</a></p>
            <p><a href="#">باشگاه</a></p>
        </div>
        <div class="footer-section">
            <p>تو باشگاه بعد تمرین وزنه هارو سر جاش میزاریم :)</p>
        </div>
    </footer>
</body>
</html>
